<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.gospell.aas.repository.mybatis.adv.IAdComboDao">

	<sql id="comboSql">
		DISTINCT c.id as c_id,
		c.ad_combo_name as c_ad_combo_name,
		c.ad_is_flag as c_ad_is_flag,
		c.start_hour as c_start_hour,
		c.end_hour as c_end_hour,
		c.start_minutes as c_start_minutes,
		c.start_second as c_start_second,
		c.end_minutes as c_end_minutes,
		c.end_second as c_end_second,
		c.show_time as c_show_time,
		c.interval_time as c_interval_time,
		c.show_count as c_show_count,
		c.picture_interval as c_picture_interval,
		c.picture_times as c_picture_times,
		c.send_mode as c_send_mode,
		c.track_mode as c_track_mode,
		c.sdtrack_id as c_sdtrack_id,
		c.hdtrack_id as c_hdtrack_id,
		c.ad_area as c_ad_area,
		c.ad_sel_area as c_ad_sel_area,
		c.`week` as c_week,
		c.del_flag as c_del_flag
	</sql>
	<sql id="comboSellSql">
		DISTINCT c.id as c_id,
		c.ad_combo_name as c_ad_combo_name,
		c.update_date as c_update_date
	</sql>
	<sql id="findAllSql">
		DISTINCT c.id as c_id,
		c.ad_combo_name as c_ad_combo_name,
		c.ad_is_flag as c_ad_is_flag,
		c.start_hour as c_start_hour,
		c.end_hour as c_end_hour,
		c.start_minutes as c_start_minutes,
		c.start_second as c_start_second,
		c.end_minutes as c_end_minutes,
		c.end_second as c_end_second,
		c.show_time as c_show_time,
		c.interval_time as c_interval_time,
		c.show_count as c_show_count,
		c.picture_interval as c_picture_interval,
		c.picture_times as c_picture_times,
		c.ad_area as c_ad_area,
		c.ad_sel_area as c_ad_sel_area,
		c.`week` as c_week,
		c.is_put as c_is_put,
		c.status as c_status,
		c.valid_start_time as c_valid_start_time,
		c.valid_end_time as c_valid_end_time,
		c.del_flag as c_del_flag,
		c.is_valid as c_is_valid
	</sql>
	<sql id="adcomboSql">
		DISTINCT c.id as c_id,
		c.ad_is_flag as c_ad_is_flag,
		c.valid_start_time as c_valid_start_time,
		c.valid_end_time as c_valid_end_time
	</sql>
	<sql id="typeSql">
		t.id as t_id,
		t.ad_type_name as t_type_name,
		t.status as t_status,
		t.is_position as t_is_position
	</sql>
	<sql id="childTypeSql">
		s.id as s_t_id,
		s.ad_type_name as s_t_type_name,
		s.status as s_t_status,
		s.is_position as s_t_is_position
	</sql>
	<sql id="comboChildTypeSql">
		ct.id as ct_id,
		ct.ad_type_name as ct_type_name,
		ct.status as ct_status,
		ct.is_position as ct_is_position
	</sql>
	<sql id="channelSql">
		ca.id as ca_id,
		ca.ad_channel_id as ca_ad_channel_id,
		ca.ad_channel_name as ca_ad_channel_name
	</sql>
 
 	<sql id="comboStatisticsSql">
		DISTINCT c.id as c_id,
		c.ad_combo_name as c_ad_combo_name,
		c.ad_is_flag as c_ad_is_flag,
		c.start_hour as c_start_hour,
		c.end_hour as c_end_hour,
		c.start_minutes as c_start_minutes,
		c.start_second as c_start_second,
		c.end_minutes as c_end_minutes,
		c.end_second as c_end_second,
		c.show_time as c_show_time,
		c.interval_time as c_interval_time,
		c.show_count as c_show_count,
		c.picture_interval as c_picture_interval,
		c.picture_times as c_picture_times,
		c.valid_start_time as c_valid_start_time,
		c.valid_end_time as c_valid_end_time,
		c.`week` as c_week,
		c.del_flag as c_del_flag
	</sql>
	
	<sql id="comboMapId">
		DISTINCT c.id as c_id,
		c.ad_combo_id as combo_id,
		c.ad_combo_name as combo_name

	</sql>
	<sql id="networkSql">
		DISTINCT n.id as n_id,
		n.ad_network_id as n_ad_network_id,
		n.ad_netwrok_name as n_network_name
	</sql>

	<sql id="sdTrackField">
		sk.id AS sk_id,
		sk.coordinates AS sk_coordinates,
		sk.show_time as sk_show_time
	</sql>

	<sql id="hdTrackField">
		hk.id AS hk_id,
		hk.coordinates AS hk_coordinates,
		hk.show_time as hk_show_time
	</sql>

		<!-- 根据广告套餐ID（与频道无关）返回发送器ID -->
	<resultMap id="comboMap" type="com.gospell.aas.dto.adv.AdComboByUserDTO">
      	<result column="c_id" property="id"/>
      	<result column="combo_id" property="adComboId"/>
      	<result column="combo_name" property="comboName"/>
    </resultMap>
    
    <resultMap id="findPageMap" type="Adcombo">
     	<id column="c_id" property="id"/>
      	<result column="c_ad_combo_name" property="comboName"/>
      	<result column="c_ad_is_flag" property="isFlag"/>
      	<result column="c_start_hour" property="startHour"/>
      	<result column="c_end_hour" property="endHour"/>
      	<result column="c_start_minutes" property="startMinutes"/>
      	<result column="c_start_second" property="startSecond"/>
      	<result column="c_end_second" property="endSecond"/>
      	<result column="c_end_minutes" property="endMinutes"/>
      	<result column="c_show_time" property="showTime"/>
      	<result column="c_interval_time" property="intervalTime"/>
      	<result column="c_show_count" property="showCount"/>
      	<result column="c_week" property="week"/>
      	<result column="c_del_flag" property="delFlag"/>
      	<result column="c_is_put" property="isPut"/>
      	<result column="c_status" property="status"/>
      	<result column="c_valid_start_time" property="validStartTime"/>
      	<result column="c_valid_end_time" property="validEndTime"/>
      	<result column="c_send_mode" property="sendMode"/>
		<result column="c_track_mode" property="trackMode"/>
		<result column="c_ad_area" property="area"/>
      	<result column="c_ad_sel_area" property="selArea"/>
      	<result column="c_is_valid" property="isValid"/>
      	<association property="adType" resultMap="typeByComboMap"/>
    </resultMap>
    <select id="findAll" parameterType="AdCombo" resultMap="findPageMap">
   		select  
   		<include refid="findAllSql"/>,
   		<include refid="typeSql"/>
   		from ad_combo c
   		left join ad_combo_channel ac on c.id = ac.ad_combo_id
		left join ad_channel cc on ac.ad_channel_id = cc.id and cc.del_flag=#{delFlag}
		left join ad_network n on  cc.ad_network_id = n.id and n.del_flag=#{delFlag}
		left join ad_combo_network an on c.id = an.ad_combo_id
		left join ad_network nn on an.ad_network_id = nn.id and nn.del_flag=#{delFlag}
	 	left join ad_type t on c.ad_type_id = t.id and t.del_flag =#{delFlag}
		where
		c.del_flag =#{delFlag}
		<if test="networkId != null and networkId != ''">
			and (n.id=#{networkId} or nn.id=#{networkId})
		</if>
		<if test="channleName != null and channleName != ''">
			and UPPER(cc.ad_channel_name)  like CONCAT('%', UPPER(#{channleName}), '%')
		</if>
		
		<if test="channelId != null and channelId != ''">
			and cc.ad_channel_id  like CONCAT('%', #{channelId}, '%')
		</if>
		<if test="comboName != null and comboName !=''">
			and UPPER(c.ad_combo_name)  like CONCAT('%', UPPER(#{comboName}), '%')
		</if>
		<if test="status != null">
			and c.status =#{status}
		</if>
		<if test="isFlag != null">
			and c.ad_is_flag  =#{isFlag}
		</if>
		<if test="adType != null">
			 <if test="adType.id != null and adType.id !=''">
			  and t.id = #{adType.id}
			 </if>
		</if>
		<choose>
        		<when test="validStartTime != null and validEndTime != null">
        			  and DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]>   DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
        			  and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]>   DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
        		</when>
        		<when test="validStartTime != null and validEndTime == null">
        		  and DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]>   DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
        		</when>
        		<when test="validStartTime == null and validEndTime != null">
        		   and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]>   DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
        		</when>
        </choose>
		
		<if test="isExpired != null and isExpired != ''">
			 <if test="isExpired ==0">
			 and  DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(now(), '%Y-%m-%d')
			 </if>
			  <if test="isExpired == 1">
			  and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<]]>  DATE_FORMAT(now(), '%Y-%m-%d')
			 </if>
		</if>
		 <if test="page.orderBy !=null and page.orderBy !=''">
        		ORDER BY ${page.orderBy}
        </if>
    </select>
	<select id="getComboByUserId" resultMap="comboMap">
		select 
		<include refid="comboMapId"/>
		 from ad_combo c
		left join ad_sell s on c.id = s.ad_combo_id
		left join ad_advertiser a on s.advertiser_id = a.id
		left join sys_user u on a.id = u.advertiser_id
		where
		c.del_flag ='0'
		and s.del_flag='0'
		and a.del_flag='0'
	    and s.end_date >= #{date}
		and c.`status` =#{status}
		and u.id=#{id}
	</select>
	
	<select id="getComboByAdvId" resultMap="comboMap">
		select
		<include refid="comboMapId"/>
		from ad_combo c
		left join ad_sell s on c.id = s.ad_combo_id
		left join ad_advertiser a on s.advertiser_id = a.id
		where
		c.del_flag ='0'
		and s.del_flag='0'
		and a.del_flag='0'
	    and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[>=]]>   DATE_FORMAT(#{date}, '%Y-%m-%d')
		and c.`status` =#{status}
		and a.id=#{id}
	</select>
	
	<select id="findAdComboByComboName" resultType="AdCombo" parameterType="AdCombo">
		select
		 <include refid="comboSql"/>
		from ad_combo c
		where
		c.del_flag =#{delFlag}
		and c.ad_combo_name=#{comboName}
	</select>
	
	<update id="updateIsPut">
		update ad_combo c
		set c.is_put = 1
		where c.id in
		 <foreach item="item" index="index" collection="list" open="(" separator="," close=")">  
  			#{item}  
 		</foreach>  
	</update>
	
	<resultMap id="comboToAdvMap" type="AdCombo">
	    <id column="c_id" property="id"/>
      	<result column="c_ad_combo_name" property="comboName"/>
      	<result column="c_ad_is_flag" property="isFlag"/>
      	<result column="c_start_hour" property="startHour"/>
      	<result column="c_end_hour" property="endHour"/>
      	<result column="c_start_minutes" property="startMinutes"/>
      	<result column="c_start_second" property="startSecond"/>
      	<result column="c_end_second" property="endSecond"/>
      	<result column="c_end_minutes" property="endMinutes"/>
      	<result column="c_show_time" property="showTime"/>
      	<result column="c_interval_time" property="intervalTime"/>
      	<result column="c_show_count" property="showCount"/>
		<result column="c_picture_interval" property="pictureInterval"/>
		<result column="c_picture_times" property="pictureTimes"/>
      	<result column="c_week" property="week"/>
      	<result column="c_send_mode" property="sendMode"/>
		<result column="c_track_mode" property="trackMode"/>
		<result column="c_ad_area" property="area"/>
      	<result column="c_ad_sel_area" property="selArea"/>
      	<result column="c_del_flag" property="delFlag"/>
      	<association property="adType" resultMap="childTypeByComboMap"/>
		<association property="childAdType" resultMap="childByComboMap"/>
    </resultMap>
	<select id="getAdTypeByComboId" resultMap="comboToAdvMap" parameterType="AdCombo">
		select 
		<include refid="comboSql"/>,
		<include refid="comboChildTypeSql"/>,
		<include refid="typeSql"/>,
		<include refid="childTypeSql"/>
		from ad_combo c
		LEFT JOIN ad_type ct on c.ad_child_type_id =  ct.id and ct.del_flag=#{delFlag}
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		left join ad_type s on t.id= s.parent_id and t.del_flag=#{delFlag}
		where
		c.del_flag =#{delFlag}
		and t.del_flag=#{delFlag}
		and c.id=#{id}
	</select>
	
	<!-- 与频道无关广告套餐查询 -->
	<select id="getAdComboNotByNetworkId" resultMap="comboNotByNetworkMap">
		select 
		<include refid="comboSql"/>,
		<include refid="typeSql"/>,
		<include refid="comboChildTypeSql"/>

		from ad_combo c
		left join ad_combo_network cn on c.id = cn.ad_combo_id 
		left join ad_network n on cn.ad_network_id = n.id and n.del_flag=#{delFlag}
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		LEFT JOIN ad_type ct on c.ad_child_type_id =  ct.id and ct.del_flag=#{delFlag}

		where
		c.del_flag =#{delFlag}
		and c.`status` = #{status}
		and c.ad_is_flag=#{isFlag}
		 
		<!-- and c.is_put=#{isPut} -->
		and c.valid_end_time <![CDATA[>=]]> DATE_FORMAT(NOW(),'%Y-%m-%d')
		and n.ad_network_id=#{networkId}
	</select>
	<!-- 通过广告发送器Id查询与频道有关的广告 -->
	<select id="getAdComboByNetworkId" resultMap="comboByNetworkMap">
		select 
		<include refid="comboSql"/>,
		<include refid="typeSql"/>,
		<include refid="channelSql"/>,
		<include refid="sdTrackField" />,
		<include refid="hdTrackField" />
		from ad_combo c
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		left join ad_combo_channel cc on c.id = cc.ad_combo_id
		left join ad_channel ca on cc.ad_channel_id =ca.id and ca.del_flag=#{delFlag}
		left join ad_network n on ca.ad_network_id = n.id and n.del_flag=#{delFlag}
		left join ad_track sk on c.sdtrack_id = sk.id and sk.del_flag=#{delFlag}
		left join ad_track hk on c.hdtrack_id = hk.id and hk.del_flag=#{delFlag}
		where
		 c.del_flag =#{delFlag}
		and c.`status` = #{status}
		and c.ad_is_flag=#{isFlag}
		<!-- and c.is_put=#{isPut} -->
		and c.valid_end_time <![CDATA[>=]]> DATE_FORMAT(NOW(),'%Y-%m-%d')
		and n.ad_network_id=#{networkId}
	</select>
	
	<!-- 根据中间表与频道无关广告套餐查询 -->
	<select id="getPutFailNotChannelAdCombo" resultMap="comboNotByNetworkMap">
		select 
		<include refid="comboSql"/>,
		<include refid="typeSql"/>,
		<include refid="comboChildTypeSql"/>,
		<include refid="sdTrackField" />,
		<include refid="hdTrackField" />
		from ad_combo_push_record cp
		left join ad_combo c on cp.ad_combo_id = c.id
		left join ad_combo_network cn on c.id = cn.ad_combo_id 
		left join ad_network n on cn.ad_network_id = n.id and n.del_flag=#{delFlag}
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		LEFT JOIN ad_type ct on c.ad_child_type_id =  ct.id and ct.del_flag=#{delFlag}
		left join ad_track sk on c.sdtrack_id = sk.id and sk.del_flag=#{delFlag}
		left join ad_track hk on c.hdtrack_id = hk.id and hk.del_flag=#{delFlag}
		where
		cp.del_flag =#{delFlag}
		and c.ad_is_flag=#{isFlag}
		and cp.client_id=#{clientId}
	</select>
	
		<!-- 通过广告发送器Id查询与频道有关的广告 -->
	<select id="getPutFailChannelAdCombo" resultMap="comboByNetworkMap">
		select 
		<include refid="comboSql"/>,
		<include refid="typeSql"/>,
		<include refid="channelSql"/>
		from ad_combo_push_record cp
		left join ad_combo c on cp.ad_combo_id = c.id
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		left join ad_combo_channel cc on c.id = cc.ad_combo_id
		left join ad_channel ca on cc.ad_channel_id =ca.id and ca.del_flag=#{delFlag}
		left join ad_network n on ca.ad_network_id = n.id and n.del_flag=#{delFlag}
		where
		cp.del_flag =#{delFlag}
		and c.ad_is_flag=#{isFlag}
		and cp.client_id=#{clientId}
	</select>
	
	<!-- 获取频道无关的单个广告套餐查询 -->
	<select id="getSingleAdComboNotChannel" resultMap="comboNotByNetworkMap">
		select 
		<include refid="comboSql"/>,
		<include refid="typeSql"/>,
		<include refid="comboChildTypeSql"/>
		from ad_combo c
		left join ad_combo_network cn on c.id = cn.ad_combo_id 
		left join ad_network n on cn.ad_network_id = n.id and n.del_flag=#{delFlag}
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		LEFT JOIN ad_type ct on c.ad_child_type_id =  ct.id and ct.del_flag=#{delFlag}
		where
		c.del_flag =#{delFlag}
		and c.id=#{comboId}
	</select>
	
	<!-- 获取与频道有关的单个套餐的的详细信息 -->
	<select id="getSingleAdComboChannel" resultMap="comboByNetworkMap">
		select 
		<include refid="comboSql"/>,
		<include refid="typeSql"/>,
		<include refid="channelSql"/>,
		<include refid="sdTrackField" />,
		<include refid="hdTrackField" />
		from ad_combo c
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		left join ad_combo_channel cc on c.id = cc.ad_combo_id
		left join ad_channel ca on cc.ad_channel_id =ca.id and ca.del_flag=#{delFlag}
		left join ad_network n on ca.ad_network_id = n.id and n.del_flag=#{delFlag}
		left join ad_track sk on c.sdtrack_id = sk.id and sk.del_flag=#{delFlag}
		left join ad_track hk on c.hdtrack_id = hk.id and hk.del_flag=#{delFlag}
		where
		c.del_flag =#{delFlag}
		and c.id=#{comboId}
	</select>
	
	<select id="getAdComboByDelete" resultMap="comboByDeleteMap" parameterType="map">
		select 
		<include refid="comboSql"/>
		from ad_combo c
		where
		 c.`status` = #{status}
		and c.is_put=#{isPut}
		and c.del_flag=#{delFlag}
	</select>
	 
	 
	
	<select id="getComboByNetworkIdAndTypeId" resultMap="comboByChannelMap"  parameterType="map">
		select 
		<include refid="comboSql"/>,
		<include refid="channelSql"/>,
		<include refid="sdTrackField" />,
		<include refid="hdTrackField" />
		from ad_combo c
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag} 
		left join ad_combo_channel cc on c.id = cc.ad_combo_id
		left join ad_channel ca on cc.ad_channel_id = ca.id and ca.del_flag=#{delFlag} 
		left join ad_network n on ca.ad_network_id = n.id and n.del_flag=#{delFlag}
		left join ad_track sk on c.sdtrack_id = sk.id and sk.del_flag=#{delFlag}
		left join ad_track hk on c.hdtrack_id = hk.id and hk.del_flag=#{delFlag}
		where c.del_flag=#{delFlag} 
		<if test="sendMode != null and sendMode != ''">
		 and c.send_mode = #{sendMode}	
		</if>
		<if test="comboId != null and comboId != ''">
			and c.id != #{comboId}
		</if>
		and
		((
		(DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		) or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		)or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		)or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
		)
		))
		and c.is_valid = #{isValid}
		and t.id=#{typeId} 
		and n.id=#{networkId}
	</select>
	
	<select id="find" resultMap="findAdCombo" parameterType="AdCombo">
		select 
		<include refid="adcomboSql"/>
		 from ad_combo c 
		where c.del_flag=#{delFlag}
		and c.id=#{id}
	</select>
	
	<select id="findComboByAdv" resultMap="findAdCombo" parameterType="map">
		select 
		<include refid="adcomboSql"/>
		 from ad_combo c 
		 left join ad_element e on c.id = e.ad_combo_id and e.del_flag=#{delFlag}
		where c.del_flag=#{delFlag}
		and e.id=#{id}
	</select>
	
	<select id="getAdComboByAType" resultMap="comboStatisticsMap">
	 select 
	 <include refid="comboStatisticsSql"/>,
	 <include refid="typeSql"/>
	  from ad_combo c 
	  left join ad_type t on c.ad_type_id = t.id
	  where 
	  c.id in
	<foreach collection="list" index="index" item="item" open="(" separator="," close=")">
		    #{item}
   </foreach>
   
    	
	</select>
	<!-- 获取套餐的销售时间总和 -->
	<select id="getAdComboStatisticSellDTO" resultMap="sellDayMap" parameterType="AdCombo">
		select c.id as c_id,sum(getSellTime(#{validStartTime},#{validEndTime},s.start_date,s.end_date)) as s_day from ad_combo c 
		left join ad_sell s on s.ad_combo_id = c.id and s.del_flag=#{delFlag}
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		where c.del_flag=#{delFlag}
		and
		(
		(DATE_FORMAT(s.start_date, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
		) or (DATE_FORMAT(s.start_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
		)or (DATE_FORMAT(s.start_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.start_date, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
		)or (DATE_FORMAT(s.start_date, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
		)
		)
		<if test="null != comboName and comboName !=''">  
      	 	 and c.ad_combo_name = #{comboName} 
      </if>
		<if test="null != adType">
			and t.id = #{adType.id}
		</if>
 		group by c.id order by s_day Desc
	</select>
	
	 <select id="getAdcomboSellAdvtiserDay" resultMap="sellAdvtierDayMap" parameterType="AdCombo">
		select a.id as a_id,a.`name` as a_name,sum(getSellTime(#{validStartTime},#{validEndTime},s.start_date,s.end_date)) as a_day from ad_advertiser a
	 
		left join ad_sell s on s.advertiser_id = a.id and s.del_flag=#{delFlag}
		left join ad_combo c on s.ad_combo_id =c.id and c.del_flag=#{delFlag}
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		where a.del_flag=#{delFlag}
		and
		(
		(DATE_FORMAT(s.start_date, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
		) or (DATE_FORMAT(s.start_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
		)or (DATE_FORMAT(s.start_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.start_date, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
		)or (DATE_FORMAT(s.start_date, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
			and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
		)
		)
	 and c.id=#{id}
  	 group by a_id,a_name order by a_day Desc
	 </select>
	 <!-- 获取当前与频道无关的广告套餐（参数树广告类型ID和发送器ID） -->
	 <select id="selectNotChannelAdComboByType" resultMap="adcomboSellMap" parameterType="map">
	 	select 
	 	<include refid="comboSellSql"/>
	 	 from ad_combo c
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		left join ad_combo_network cn on c.id= cn.ad_combo_id
		left join ad_network n on cn.ad_network_id = n.id and n.del_flag=#{delFlag}
		where c.del_flag=#{delFlag}
		and c.ad_is_flag = #{isFlag}
		and c.status = #{status}
		 and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{nowDate}, '%Y-%m-%d')

		 <!-- and n.id in
         <foreach item="item" index="index" collection="networkList" open="(" separator="," close=")">
               #{item}
          </foreach>  -->
		and t.id=#{typeId}
		and c.is_valid = #{isValid}
		order by c.update_date desc
	 </select>
	<!-- 查询当前有效的与频道有关的广告套餐，用于销售 -->
	<select id="selectChannelAdComboByType" resultMap="adcomboSellMap" parameterType="map">
		select 
			<include refid="comboSellSql"/>
		from ad_combo c
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		left join ad_combo_channel cc on cc.ad_combo_id = c.id 
		left join ad_channel ca on cc.ad_channel_id = ca.id and ca.del_flag=#{delFlag}
		left join ad_network n on ca.ad_network_id = n.id and n.del_flag=#{delFlag}
		where c.del_flag=#{delFlag}
		and c.ad_is_flag = #{isFlag}
		and c.status = #{status}
	    and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{nowDate}, '%Y-%m-%d')
		<!-- and n.id in 
		<foreach item="item" index="index" collection="networkList" open="(" separator="," close=")">  
  			#{item}  
 		</foreach>  -->
 		and c.is_valid = #{isValid}
 		<if test="typeId != null and typeId != ''">
		and t.id=#{typeId}
		</if>
		order by c.update_date desc
	</select>
	
	<select id="selectNotChannelNetworkByCombo" resultMap="networkBytypeMap" parameterType="map">
		select 
			<include refid="networkSql"/>
		from ad_combo c
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		left join ad_combo_network cn on c.id= cn.ad_combo_id
		left join ad_network n on cn.ad_network_id = n.id and n.del_flag=#{delFlag}
		where c.del_flag = #{delFlag}
		and c.id =#{id}
	</select>
	
	<select id="selectChannelNetworkByCombo" resultMap="networkBytypeMap" parameterType="map">
		select 
			<include refid="networkSql"/>
		from ad_combo c
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		left join ad_combo_channel cc on cc.ad_combo_id = c.id 
		left join ad_channel ca on cc.ad_channel_id = ca.id and ca.del_flag=#{delFlag}
		left join ad_network n on ca.ad_network_id = n.id and n.del_flag=#{delFlag}
		where c.del_flag = #{delFlag}
		and c.id =#{id}
	</select>
	
	
		 
	<select id="sellNotChannelComboInNetworkNow" resultType="Integer" parameterType="map">
	select count(DISTINCT c.id) from ad_sell s
	left join ad_combo c on s.ad_combo_id = c.id and c.del_flag =#{delFlag}
	left join ad_combo_network cn on c.id = cn.ad_combo_id
	left join ad_network n on cn.ad_network_id = n.id and n.del_flag =#{delFlag}
	where s.del_flag = #{delFlag}
	and n.id = #{networkId}
	
	</select>
	<!-- 查询当前时间下是否还有正在销售与频道相关的套餐 的个数-->
	<select id="sellChannelComboInNetworkNow" resultType="Integer" parameterType="map">
	select count(DISTINCT c.id) from ad_sell s
	left join ad_combo c on s.ad_combo_id = c.id
	left join ad_combo_channel cc on c.id = cc.ad_combo_id
	left join ad_channel ca on cc.ad_channel_id = ca.id and ca.del_flag =#{delFlag}
	left join ad_network n on ca.ad_network_id = n.id and n.del_flag =#{delFlag}
	where s.del_flag = #{delFlag}
	and DATE_FORMAT(s.end_date, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{nowDate}, '%Y-%m-%d')
	and n.id = #{networkId}
	
	</select>
	<!-- 当广告发送器失效的时候，必须让对应的与频道无关的套餐失效 -->
	<update id="updateAdNotChannlecombovalid" parameterType="map">
		 UPDATE ad_combo ac set ac.is_valid=#{isValid}
		where ac.id
		in(
			select  DISTINCT cn.ad_combo_id from  
		  ad_combo_network cn  
			left join ad_network n on cn.ad_network_id = n.id and n.del_flag =#{delFlag}
			where   n.id = #{networkId})
		and ac.del_flag = #{delFlag}
		and ac.is_valid = #{yesIsValid}
	</update>
	<!-- 当广告发送器失效的时候，必须让对应的与频道有关的套餐失效 -->
	<update id="updateAdChannlecombovalid" parameterType="map">
		  UPDATE ad_combo ac set ac.is_valid=#{isValid}
		where ac.id
			in(
				select  DISTINCT cn.ad_combo_id from  
			  ad_combo_channel cn
			 left join ad_channel ca on cn.ad_channel_id = ca.id and ca.del_flag=#{delFlag}
				left join ad_network n on ca.ad_network_id = n.id and n.del_flag =#{delFlag}
			where   n.id = #{networkId})
			and ac.del_flag = #{delFlag}
			and ac.is_valid = #{yesIsValid}
	</update>
	
	<select id="getComboCountByTypeIdAndNetwork" resultType="Integer" parameterType="map">
 		select count(DISTINCT c.id) from ad_combo c
		left join ad_combo_network cn on c.id = cn.ad_combo_id
		left join ad_network n on cn.ad_network_id = n.id and n.del_flag=#{delFlag}
		left join ad_type t on c.ad_type_id = t.id and t.del_flag=#{delFlag}
		where
		c.del_flag=#{delFlag}
		and t.id=#{id}
		and n.ad_network_id=#{networkId} 
	
	</select>
	<select id="getComboCountChannelIdAndNetwork" resultType="Integer" parameterType="map">
		select count(DISTINCT c.id) from ad_combo c 
		left join ad_combo_channel cc on c.id = cc.ad_combo_id
		left join ad_channel ca on cc.ad_channel_id = ca.id and ca.del_flag=#{delFlag}
		left join ad_network n on ca.ad_network_id = n.id and n.del_flag=#{delFlag}
		where c.del_flag=#{delFlag}
		and ca.ad_channel_id=#{channeId}
		and n.ad_network_id=#{networkId} 
	</select>
	<!-- 判断套餐是否冲突 与频道无关 -->	
	 <select id="checkComboIsExist" parameterType="map" resultMap="comboCountMap">
		SELECT
			c.id a_id,
			c.ad_combo_name,
			n.ad_network_id
		FROM
			ad_combo c
		LEFT JOIN ad_combo_network n ON c.id = n.ad_combo_id
		where 
		c.del_flag = #{delFlag}
		<if test="sendMode != null and sendMode != ''">
		  and c.send_mode = #{sendMode}
			<if test="sendMode ==2 and districts != null and districts != ''">
				and c.ad_sel_area = #{districts}
			</if>
		</if>
		AND c.ad_type_id = #{typeId}
		 <if test="chlidType != null and chlidType != ''">
			 and c.ad_child_type_id = #{chlidType}
		 </if>
		and
		(
		(DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		) or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		)or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		)or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
		)
		)
		and n.ad_network_id IN 
		<foreach collection="netWorkList" item="item" index="index"  open="(" separator="," close=")">
			'${item}'
		</foreach>
	</select>
 <select id="checkComboIsConflict" parameterType="map" resultMap="comboCountMap">
		SELECT a2.* from (SELECT a1.id a_id,a1.ad_combo_name,a1.ad_network_id,count(1) count from (SELECT
			c.id,
			c.ad_combo_name,
			c.ad_type_id,
			n.ad_network_id
		FROM
			ad_combo c
		LEFT JOIN ad_combo_network n ON c.id = n.ad_combo_id
		where 
		c.del_flag = #{delFlag}
		<if test="sendMode != null and sendMode != ''">
		  and c.send_mode = #{sendMode}
			<if test="sendMode ==2 and districts != null and districts != ''">
				and c.ad_sel_area = #{districts}
			</if>
		</if>
		AND c.ad_type_id = #{typeId}
		and n.ad_network_id IN 
		<foreach collection="netWorkList" item="item" index="index"  open="(" separator="," close=")">
			'${item}'
		</foreach>
	 ) a1 GROUP BY a1.id) a2 where a2.count = #{size}
	</select>
	<!-- 判断选择的频道是否存在套餐（与频道无关） -->
	<select id="getAdNetworkCombo" parameterType="map" resultType="Integer">
	SELECT count(1) from ad_combo c
	LEFT JOIN ad_combo_network an on c.id = an.ad_combo_id
	where c.del_flag = #{delFlag} and  c.ad_type_id = #{typeId}
	<if test="comboId != null and comboId != ''">
	and c.id != #{comboId}	
	</if>
	<if test="sendMode != null and sendMode != ''">
	and c.send_mode = #{sendMode}	
	</if>
	and
		(
		(DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		) or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		)or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		)or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
		)
		)
	and an.ad_network_id in 
	<foreach collection="netWorkList" item="item" index="index"  open="(" separator="," close=")">
			'${item}'
	</foreach>
	</select>
	<!-- 判断选择的频道是否存在套餐（与频道相关） -->
	<select id="getAdChannelCombo" parameterType="map" resultType="Integer">
			SELECT count(1) count from ad_combo c
		LEFT JOIN ad_combo_channel ac on ac.ad_combo_id = c.id
		where c.del_flag = #{delFlag} and  c.ad_type_id = #{typeId} 
		<if test="comboId != null and comboId != ''">
		and c.id != #{comboId}	
		</if>
		<if test="sendMode != null and sendMode != ''">
		and c.send_mode = #{sendMode}	
		</if>
		and
		(
		(DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		) or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		)or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
		)or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]> DATE_FORMAT(#{endDate}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]> DATE_FORMAT(#{startDate}, '%Y-%m-%d')
		)
		)
		and ( 
		   ((c.start_hour*3600+c.start_minutes*60+c.start_second) <![CDATA[<=]]> #{startTime} and  (c.end_hour*3600+c.end_minutes*60+c.end_second) <![CDATA[>=]]>#{endTime} )
		or ((c.start_hour*3600+c.start_minutes*60+c.start_second) <![CDATA[>=]]> #{startTime} and  (c.end_hour*3600+c.end_minutes*60+c.end_second) <![CDATA[<=]]>#{endTime})
		or ((c.start_hour*3600+c.start_minutes*60+c.start_second) <![CDATA[>=]]> #{startTime} and  (c.start_hour*3600+c.start_minutes*60+c.start_second) <![CDATA[<=]]> #{endTime} and  (c.end_hour*3600+c.end_minutes*60+c.end_second) <![CDATA[<=]]>#{endTime})
		or ((c.start_hour*3600+c.start_minutes*60+c.start_second) <![CDATA[<=]]> #{startTime} and  (c.end_hour*3600+c.end_minutes*60+c.end_second) <![CDATA[>=]]>#{startTime} and (c.end_hour*3600+c.end_minutes*60+c.end_second) <![CDATA[<=]]>#{endTime})
		)
		and ac.ad_channel_id in 
        <foreach collection="channelList" item="item" index="index"  open="(" separator="," close=")">
			'${item}'
		</foreach>
	</select>
	<select id="findByTimeIntersection" resultMap="findPageMap" parameterType="AdCombo">
		select
		<include refid="findAllSql"/>,
		<include refid="typeSql"/>
		from ad_combo c
		left join ad_type t on c.ad_type_id = t.id and t.del_flag ='0'
		where
		c.del_flag ='0'
		<if test="validStartTime != null and validEndTime != null">
			and  (
			(DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
			) or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
			)or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
			)or (DATE_FORMAT(c.valid_start_time, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[<=]]>  DATE_FORMAT(#{validEndTime}, '%Y-%m-%d')
			and DATE_FORMAT(c.valid_end_time, '%Y-%m-%d') <![CDATA[>=]]>  DATE_FORMAT(#{validStartTime}, '%Y-%m-%d')
			)
			)
		</if>
		<if test="adType != null and adType.id != null">
			and t.id=#{adType.id}
		</if>
		order by c.valid_start_time desc
	</select>
	<resultMap id="networkBytypeMap" type="AdNetwork">
     	<id column="n_id" property="id"/>
     	<result column="n_ad_network_id" property="networkId"/>
     	<result column="n_network_name" property="networkName"/>
    </resultMap>
    <resultMap id="sellDayMap" type="com.gospell.aas.dto.adv.AdComboStatisticSellDTO">
      	<id column="c_id" property="comboId"/>
      	<result column="s_day" property="sellDay"/>
    </resultMap>
    
    <resultMap type="AdCombo" id="adcomboSellMap">
		<id column="c_id" property="id"/>
      	<result column="c_ad_combo_name" property="comboName"/>
      	<result column="c_update_date" property="updateDate"/>
	</resultMap>
     <resultMap id="sellAdvtierDayMap" type="com.gospell.aas.dto.adv.ComboAdvtiserSellDTO">
      	<id column="a_id" property="advId"/>
      	<result column="a_name" property="name"/>
      	<result column="a_day" property="sellDay"/>
    </resultMap>
    
    <resultMap id="notChannelSellDayMap" type="com.gospell.aas.dto.adv.AdComboNotChannelSellDTO">
   	  <id column="s_id" property="sellId"/>
      <result column="c_id" property="comboId"/>
      <result column="s_start_date" property="startDate"/>
      <result column="s_end_date" property="endDate"/>
    </resultMap>
    
	<resultMap type="AdCombo" id="findAdCombo">
		<id column="c_id" property="id"/>
      	<result column="c_ad_is_flag" property="isFlag"/>
      	<result column="c_valid_start_time" property="validStartTime"/>
      	<result column="c_valid_end_time" property="validEndTime"/>
	</resultMap>
	<resultMap type="AdCombo" id="comboByDeleteMap">
		<id column="c_id" property="id"/>
      	<result column="c_ad_combo_name" property="comboName"/>
      	<result column="c_ad_is_flag" property="isFlag"/>
 		<result column="c_start_hour" property="startHour"/>
      	<result column="c_end_hour" property="endHour"/>
      	<result column="c_start_minutes" property="startMinutes"/>
      	<result column="c_start_second" property="startSecond"/>
      	<result column="c_end_second" property="endSecond"/>
      	<result column="c_end_minutes" property="endMinutes"/>
      	<result column="c_show_time" property="showTime"/>
      	<result column="c_interval_time" property="intervalTime"/>
      	<result column="c_show_count" property="showCount"/>
		<result column="c_picture_interval" property="pictureInterval"/>
		<result column="c_picture_times" property="pictureTimes"/>
      	<result column="c_week" property="week"/>
		<result column="c_send_mode" property="sendMode"/>
		<result column="c_track_mode" property="trackMode"/>
		<result column="c_ad_area" property="area"/>
      	<result column="c_ad_sel_area" property="selArea"/>
      	<result column="c_del_flag" property="delFlag"/>
	</resultMap>
	<resultMap type="AdCombo" id="comboByNetworkMap">
		<id column="c_id" property="id"/>
      	<result column="c_ad_combo_name" property="comboName"/>
      	<result column="c_ad_is_flag" property="isFlag"/>
      	<result column="c_start_hour" property="startHour"/>
      	<result column="c_end_hour" property="endHour"/>
      	<result column="c_start_minutes" property="startMinutes"/>
      	<result column="c_start_second" property="startSecond"/>
      	<result column="c_end_second" property="endSecond"/>
      	<result column="c_end_minutes" property="endMinutes"/>
      	<result column="c_show_time" property="showTime"/>
      	<result column="c_interval_time" property="intervalTime"/>
      	<result column="c_show_count" property="showCount"/>
		<result column="c_picture_interval" property="pictureInterval"/>
		<result column="c_picture_times" property="pictureTimes"/>
      	<result column="c_week" property="week"/>
      	<result column="c_send_mode" property="sendMode"/>
		<result column="c_track_mode" property="trackMode"/>
		<result column="c_ad_area" property="area"/>
      	<result column="c_ad_sel_area" property="selArea"/>
      	<result column="c_del_flag" property="delFlag"/>
      	<association property="adType" resultMap="typeByComboMap"/>
		<association property="hdTrack" resultMap="hdTrackResult"/>
		<association property="sdTrack" resultMap="sdTrackResult"/>
      	<collection property="channelList" ofType="AdChannel" resultMap="channelByComboMap"/>
	</resultMap>
	<resultMap type="AdCombo" id="comboByChannelMap">
		<id column="c_id" property="id"/>
      	<result column="c_ad_combo_name" property="comboName"/>
      	<result column="c_ad_is_flag" property="isFlag"/>
   		<result column="c_start_hour" property="startHour"/>
      	<result column="c_end_hour" property="endHour"/>
      	<result column="c_start_minutes" property="startMinutes"/>
      	<result column="c_start_second" property="startSecond"/>
      	<result column="c_end_second" property="endSecond"/>
      	<result column="c_end_minutes" property="endMinutes"/>
      	<result column="c_show_time" property="showTime"/>
      	<result column="c_interval_time" property="intervalTime"/>
      	<result column="c_show_count" property="showCount"/>
		<result column="c_picture_interval" property="pictureInterval"/>
		<result column="c_picture_times" property="pictureTimes"/>
      	<result column="c_week" property="week"/>
      	<result column="c_send_mode" property="sendMode"/>
		<result column="c_track_mode" property="trackMode"/>
		<result column="c_ad_area" property="area"/>
      	<result column="c_ad_sel_area" property="selArea"/>
      	<result column="c_del_flag" property="delFlag"/>
		<association property="hdTrack" resultMap="hdTrackResult"/>
		<association property="sdTrack" resultMap="sdTrackResult"/>
      	<collection property="channelList" ofType="AdChannel" resultMap="channelByComboMap"/>
	</resultMap>
	<resultMap id="hdTrackResult" type="AdTrack">
		<id property="id" column="hk_id" />
		<result property="coordinates" column="hk_coordinates"/>
		<result property="showTime" column="hk_show_time"/>
	</resultMap>
	<resultMap id="sdTrackResult" type="AdTrack">
		<id property="id" column="sk_id" />
		<result property="coordinates" column="sk_coordinates"/>
		<result property="showTime" column="sk_show_time"/>
	</resultMap>
	<resultMap type="AdCombo" id="comboNotByNetworkMap">
		<id column="c_id" property="id"/>
      	<result column="c_ad_combo_name" property="comboName"/>
      	<result column="c_ad_is_flag" property="isFlag"/>
   		<result column="c_start_hour" property="startHour"/>
      	<result column="c_end_hour" property="endHour"/>
      	<result column="c_start_minutes" property="startMinutes"/>
      	<result column="c_start_second" property="startSecond"/>
      	<result column="c_end_second" property="endSecond"/>
      	<result column="c_end_minutes" property="endMinutes"/>
      	<result column="c_show_time" property="showTime"/>
      	<result column="c_interval_time" property="intervalTime"/>
      	<result column="c_show_count" property="showCount"/>
		<result column="c_picture_interval" property="pictureInterval"/>
		<result column="c_picture_times" property="pictureTimes"/>
      	<result column="c_week" property="week"/>
      	<result column="c_send_mode" property="sendMode"/>
		<result column="c_track_mode" property="trackMode"/>
		<result column="c_ad_area" property="area"/>
      	<result column="c_ad_sel_area" property="selArea"/>
      	<result column="c_del_flag" property="delFlag"/>
      	<association property="adType" resultMap="typeByComboMap"/>
		<association property="childAdType" resultMap="childByComboMap"/>

	</resultMap>
	
	<resultMap type="AdType" id="typeByComboMap">
		<id column="t_id" property="id"/>
		<result column="t_type_name" property="typeName"/>
		<result column="t_status" property="status"/>
		<result column='t_is_position' property="isPosition"/>
	</resultMap>
	<resultMap type="AdType" id="childByComboMap">
		<id column="ct_id" property="id"/>
		<result column="ct_type_name" property="typeName"/>
		<result column="ct_status" property="status"/>
		<result column='ct_is_position' property="isPosition"/>
	</resultMap>
	<resultMap type="AdType" id="childTypeByComboMap">
		<id column="t_id" property="id"/>
		<result column="t_type_name" property="typeName"/>
		<result column="t_status" property="status"/>
		<result column='t_is_position' property="isPosition"/>
		<collection property="childList" ofType="AdType" resultMap="typeByComboMap" columnPrefix="s_"/>
	</resultMap>
	
	<resultMap type="AdChannel" id="channelByComboMap">
		<id column="ca_id" property="id"/>
		<id column="ca_ad_channel_id" property="channelId"/>
		<result column="ca_ad_channel_name" property="channelName"/>
	</resultMap>
	<resultMap type="AdCombo" id="comboStatisticsMap">
		<id column="c_id" property="id"/>
      	<result column="c_ad_combo_name" property="comboName"/>
      	<result column="c_ad_is_flag" property="isFlag"/>
      	<result column="c_start_hour" property="startHour"/>
      	<result column="c_end_hour" property="endHour"/>
      	<result column="c_start_minutes" property="startMinutes"/>
      	<result column="c_start_second" property="startSecond"/>
      	<result column="c_end_second" property="endSecond"/>
      	<result column="c_end_minutes" property="endMinutes"/>
      	<result column="c_show_time" property="showTime"/>
      	<result column="c_interval_time" property="intervalTime"/>
      	<result column="c_show_count" property="showCount"/>
		<result column="c_picture_interval" property="pictureInterval"/>
		<result column="c_picture_times" property="pictureTimes"/>
      	<result column="c_valid_start_time" property="validStartTime"/>
      	<result column="c_valid_end_time" property="validEndTime"/>
      	<result column="c_week" property="week"/>
      	<result column="c_send_mode" property="sendMode"/>
		<result column="c_track_mode" property="trackMode"/>
		<result column="c_ad_area" property="area"/>
      	<result column="c_ad_sel_area" property="selArea"/>
      	<result column="c_del_flag" property="delFlag"/>
      	<association property="adType" resultMap="typeByComboMap"/>
	</resultMap>
	<resultMap id="comboCountMap" type="com.gospell.aas.dto.adv.ComboCountDTO">
      	<id column="a_id" property="adcomboId"/>
      	<result column="ad_combo_name" property="comboName"/>
      	<result column="ad_network_id" property="networkId"/>
      	<result column="count" property="count"/>
    </resultMap>
</mapper> 
