<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- 工作的bean -->
    <bean id="advEnd" class="com.gospell.aas.service.quartz.PutEndTask" />
 

    <!-- bean触发方法配置 -->
    <bean name="quartzBean"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <!-- bean名字 -->
        <property name="targetObject" ref="advEnd" /><!--目标对象-->
        <!-- bean方法 -->
        <property name="targetMethod"><!--目标方法-->
            <value>task</value>
        </property>
        <property name="concurrent"><!--配置为false不允许任务并发执行-->
            <value>false</value>
        </property>
    </bean>
    

    <!-- bean触发时间配置,指定具体的时间执行 -->
    <bean id="quartzTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <!-- 触发bean配置 -->
        <property name="jobDetail" ref="quartzBean" />
        <!-- 触发时间配置 -->
        <property name="cronExpression">
            <value>0 59 23 ? * *</value>
        </property>
    </bean>
    
  
    <!-- 调度器 -->
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="quartzTrigger" />
            </list>
        </property>
    </bean>

</beans>